{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="card">
  <div class="card-body p-3 bg-light">
    <h1 class="my-1 display-5">Tennis Tasks</h1>
      <hr>
    {% if form %}
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-danger" type="submit" value="Send">
    </form>
    {% endif %}

    <h1>{{ data }} </h1>
    <h1>{{ path }}</h1>

 
    <audio controls="controls" src="file://{{ path }}" type="audio/mp3"></audio>
    <audio controls>
      <source src="file:///{{ path }}" type="audio/mp3">
      <a href="file:///{{ path }}">Скачайте музыку</a>
    </audio>
    <audio controls="controls" src="{{ path }}" type="audio/mp3"></audio>


  </div>
</div>
{% endblock %}