{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="card">
  <div class="card-body p-3 bg-light">
    {% if form %}
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-danger" type="submit" value="Send">
    </form>
   
    {% else %}
    <audio controls>
      <source src="{% static "output.mp3" %}">
    </audio>
    <hr>
    <p><a class="btn btn-outline-secondary" href="{% url 'home' %}">Back to the main page</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}